In [5]:
total=0 #914
total+=1
total+=2
total+=3
total+=4
total+=5
total+=6
total+=7
total+=8
total+=9
total+=10
total

55

In [2]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
tatol=0
for i in range(1,101):
      tatol+=i

tatol

5050

In [11]:
for i in range(10,101,10):
      print(i)

10
20
30
40
50
60
70
80
90
100

In [2]:
for i in "robert":
    print(i)

r
o
b
e
r
t